/* Here goes your CSS */

body{
  background: #8E9AAF;
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  color: #8E9AAF;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2px;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  text-transform: capitalize;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #BCBDC0;
}

#right {
  width: 60%;
  float: right;
  min-height: 600px;
}

#left {
  width: 35%;
  float: left;
  min-height: 600px;
}

#wrapper {
  padding: 20px;
  width: 1000px;
  margin: 20px auto;
  border-radius: 2px;
  background: rgba(175, 175, 175, 0.1);
}

#chat-box {
  background-color: #8E9AAF
  border-radius: 1px;
}

.list-inline li {
display: inline-block;
padding: 5px 10px;
font-size: 14px;
text-decoration: none;
}

.list-inline a {
text-decoration: none;
}

.list-inline {
  padding-left: 0px;
}

.card-white {
  background-color: white;
  padding: 20px;
  /*margin: 20px 200px;*/
  font-weight: lighter;
  border-radius: 20px
}

.pink-border {
  border-bottom: 10px solid #E8B9CC;
}

.poster {
  width: 200px;
  padding-right: 10px;
}

.img-circle {
  border-radius: 50%;
}

.text-center{
  text-align: center;
}

.clear {
  clear: both;
}

#sidebar {
  position: fixed;
  width: 180px;
  left: 0;
  top: 0;
  bottom: 0;
  background-color: rgb(30, 30, 30);
}

#sidebar a {
  color: #ffffff;
  text-decoration: none;
}

#sidebar a:hover {
  color: #8E9AAF;
}

#sidebar li {
  text-decoration: none;
  padding-bottom: 6px;
}

#page-content {
  margin-left: 300px;
}

#avatar_size {
  width: 140px;
  height: 140px;
}

#footer{
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}

#footer a {
  color: lightgrey;
  font-size: 15px;
}

#footer a:hover {
  color: white;
}

table p {
  color: #000000;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 200;
  letter-spacing: 1px;
}
